<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tokyo Rail Project</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <div class="titleNav">
    <script type="text/javascript" src="./js/navigation.js"></script>
  </div>


  <main>
    <img id="titleMap" src="./imgs/tokyoMetroMap.png"></img>
    <div id="footerText">Created by Lauren Pigue and Tyler Dennis</div>
  </main>
  <footer>
    
  </footer>
</body>

</html>