<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tokyo Rail Project</title>
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>Tokyo Rail Project</h1>
    <h3>Site Contents</h3>
    <ul><li><a href="/line_view">View Lines</a></li>
        <li><a href="/station_view">View Stations</a></li>
        <li><a href="/train_view">View Trains</a></li>
        <li><a href="/operator_view">View Operators</a></li>
        <li><a href="/line_edit">Manage Lines</a></li>
        <li><a href="/station_edit">Manage Stations</a></li>
        <li><a href="/schedule_edit">Manage Schedules</a></li>
        <li><a href="/train_edit">Manage Trains</a></li>
        <li><a href="/operator_edit">Manage Operators</a></li>
        <li><a href="/lines_has_station">Intersecting Lines and Stations</a></li>
    </ul>
  </main>
  <footer>
    Created by Lauren Pigue and Tyler Dennis
  </footer>
  <script src="../js/index.js"></script>
</body>

</html>