<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Lines</title>
  <link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>Select Line to View Route</h1>
    <div class="dropdown">
      <button class="dropbtn">Lines</button>
      <div class="dropdown-content">
        <a href="/line_template?line=ginza">Ginza</a>
        <a href="/line_template?line=marunouchi">Marunouchi</a>
        <a href="/line_template?line=hibiya">Hibiya</a>
        <a href="/line_template?line=tozai">Tozai</a>
        <a href="/line_template?line=chiyoda">Chiyoda</a>
        <a href="/line_template?line=yurakucho">Yurakucho</a>
        <a href="/line_template?line=hanzomon">Hanzomon</a>
        <a href="/line_template?line=namboku">Namboku</a>
        <a href="/line_template?line=fukutoshin">Fukutoshin</a>
      </div>
    </div>
  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
</body>

</html>
