<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Lines</title>
  <link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>&lt;Line Name&gt; Line</h1>
      <ul>&lt;Stop Name&gt;</ul>
      <ul>&lt;Stop Name&gt;</ul>
      <ul>&lt;Stop Name&gt;</ul>
      <ul>&lt;Stop Name&gt;</ul>
      <ul>&lt;Stop Name&gt;</ul>
      <ul>&lt;Stop Name&gt;</ul>
      <ul>&lt;Stop Name&gt;</ul>
      <ul>&lt;Stop Name&gt;</ul>
      <ul>&lt;Stop Name&gt;</ul>
      <ul>&lt;Stop Name&gt;</ul>
      <ul>&lt;Stop Name&gt;</ul>
  </main>
  <script src="../../../js/index.js"></script>
</body>

</html>