<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Operator</title>
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>Edit Operator</h1>
    <h4>(If editing existing operator, only filled-in blanks will be updated)</h4>
    <form>
      <label for="operatorId">Operator ID (leave blank to create new operator):</label><br>
      <input type="text" id="operatorId" name="operatorId"><br>
      <label for="firstName">First Name:</label><br>
      <input type="text" id="firstName" name="firstName"><br>
      <label for="lastName">Last Name:</label><br>
      <input type="text" id="lastName" name="lastName"><br>
      <label for="phoneNumber">Phone Number:</label><br>
      <input type="text" id="phoneNumber" name="phoneNumber"><br>
      <label for="email">E-mail Address:</label><br>
      <input type="text" id="email" name="email"><br><br>
      <input class="editButton" type="submit">
    </form>
    <h1>Delete Operator</h1>
    <form>
      <label for="operatorId">Operator ID:</label><br>
      <input type="text" id="operatorId" name="operatorId"><br><br>
      <input class="deleteButton" type="submit">
    </form>
  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
  <script src="../../../js/index.js"></script>
</body>

</html>