<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Train Template</title>
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>Train &lt;Train ID&gt; Information</h1>
    <h2>Schedule:</h2>
      <ul>
        <li>&lt;Stop 1&gt;</li>
        <li>&lt;Stop 2&gt;</li>
        <li>&lt;Stop 3&gt;</li>
        <li>&lt;Stop 4&gt;</li>
        <li>&lt;Stop 5&gt;</li>
        <li>&lt;Stop 5&gt;</li>
        <li>&lt;Stop 6&gt;</li>
        <li>&lt;Stop 7&gt;</li>
        <li>&lt;Stop 8&gt;</li>
        <li>&lt;Stop 9&gt;</li>
        <li>&lt;Stop 10&gt;</li>
      </ul>
    <h2>Operator:</h2>
      <p>&lt;Operator Name&gt;</p>
  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
  <script src="../../../js/index.js"></script>
</body>

</html>