<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Trains</title>
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>

<body>
  <main>
    <h1>Select train to view information:</h1>
    <div class="dropdown">
      <button class="dropbtn">Train</button>
      <div class="dropdown-content">
        <a href="./train_template.html?train_id=1">&lt;Train 1&gt;</a>
        <a href="./train_template.html?train_id=2">&lt;Train 2&gt;</a>
        <a href="./train_template.html?train_id=3">&lt;Train 3&gt;</a>
        <a href="./train_template.html?train_id=4">&lt;Train 4&gt;</a>
        <a href="./train_template.html?train_id=5">&lt;Train 5&gt;</a>
        <a href="./train_template.html?train_id=6">&lt;Train 6&gt;</a>
        <a href="./train_template.html?train_id=7">&lt;Train 7&gt;</a>
        <a href="./train_template.html?train_id=8">&lt;Train 8&gt;</a>
        <a href="./train_template.html?train_id=9">&lt;Train 9&gt;</a>
        <a href="./train_template.html?train_id=10">&lt;Train 10&gt;</a>
      </div>
    </div>
  </main>
  <footer>
    <a href="/index" id="footer">Back to home</a>
  </footer>
  <script src="../../../js/index.js"></script>
</body>

</html>