<<<<<<< HEAD


=======
>>>>>>> 664815e9f44186bf06eec4e16e074c81d570bcfc
ul {
  white-space: pre-line;
  padding: 0px;
  border: 0px;
}

p {
  border: 0px;
  margin: 5px 0px;
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f3f3f3;
  color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3f3f3f;
  color: #ffffff;
}

input[type=text] {
  border: 2px solid rgb(18, 19, 96);
  border-radius: 4px;
  padding: 12px 20px;
}

input[type=button], input[type=submit]{

  background-color: #83bea8;
  border: none;
  color: whitesmoke;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
}

body {
  border: 0px;
  margin: 2em;
}

.table-style {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.table-style thead tr {
  background-color: #161e03;
  color: #ffffff;
  text-align: left;
}

.table-style th,
.table-style td {
    padding: 12px 15px;
}

.table-style tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-style tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-style tbody tr:last-of-type {
  border-bottom: 2px solid #6c6e6d;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background: whitesmoke;          
